{% extends "base/base.html" %}
{% block content %}
<h1 class="display-2">Workout Programs</h1>

<div class="container">
    {% for plan in object_list %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
                <div class="col-4 pcontainter">
                    <div class="card text-left">
                        <div class="card-body">
                        <h4 class="card-title">{{ plan }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ plan.get_plan_length_display }} week program - {{ plan.get_time_per_workout_display }}/day</h6>
                        <p class="card-text text-center"><img src="{{ plan.image.url }}" alt="Plan image"></p>
                        <a href="{% url 'workout-program-detail' plan.id %}" class="card-link"><i class="fas fa-info lilpadding"></i>Details</a>
                        </div>
                    </div>
                </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if page_obj.has_other_pages %}
    <div class="pt-3">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">&lsaquo;</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&rsaquo;</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %}
        </ul>
    </div>
{% endif %}


<footer>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>

{% endblock %}



