{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% crispy filter.form filter.form.helper %}
{% block content %}
<div class="p-3 pagesize">
    <h1 class="display-4 text-center">Search Workouts</h1>
    <p class="text-center">Find workouts by training type or body focus</p>
    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="col-9">
                <div class="container">
                    {% for workout in workouts %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                                <div class="col-12 wcontainer">
                                    
                                    
                                    <div class="d-flex justify-content-between text-left">
                                        <div class="pt-2">
                                            {% if workout.training_type == "ST" %}
                                                <i class="fas fa-dumbbell fa-3x lilpadding"></i>
                                            {% elif workout.training_type == "HI" %}
                                                <i class="fas fa-heartbeat fa-3x lilpadding"></i>
                                            {% elif workout.training_type == "CA" %}
                                                <i class="fas fa-running fa-3x lilpadding"></i>
                                            {% elif workout.training_type == "YO" %}
                                                <i class="fas fa-spa fa-3x lilpadding"></i>
                                            {% endif %}
                                        </div>
                                        <div class="pt-4"><h5><a href="{{ workout.get_absolute_url }}">{{ workout.title }}</a></h5></div>
                                        
                                        <div class="pt-4">
                                            {{ workout.workout_day|date:"F d, Y" }}
                                        </div>
                                        <div class="dropdown pt-2">
                                            <button class="btn btn-secondary dropdown-toggle bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="{{ workout.get_absolute_url }}"><i class="lilpadding far fa-eye"></i>View workout details</a>
                                                {% if not workout.workout_plan %}
                                                    <a class="dropdown-item" href="{% url 'update' workout.id %}"><i class="lilpadding far fa-edit"></i>Edit</a>
                                                    <a class="dropdown-item" href="{% url 'delete' workout.id %}"><i class="lilpadding far fa-trash-alt"></i>Delete</a>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        {% if forloop.counter|divisibleby:1 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% if forloop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <form method="get">
                    <fieldset class="form-group">
                            {{ filter.form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"><i class="lilpadding fas fa-search"></i>Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% if workouts.has_other_pages %}
        <div class="pt-3">
            <ul class="pagination justify-content-center">
            {% if workouts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ workouts.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}
    
            {% for i in workouts.paginator.page_range %}
                {% if workouts.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if workouts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ workouts.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}