{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="p-3">
    <h3>Add exercise to <em>{{ workout.title }}</em></h3>
    <em><a href="{% url 'workouts-filter' %}">Example workouts</a></em> | 
    <em><a href="{% url 'exercise-filter' %}">Example exercises</a></em>
    <div class="w-50 p-3 formcenter">
        {% crispy set_form %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#id_exercise').select2({
            placeholder: "Start typing an exercise name...",
            ajax: {
                url: "{% url 'add_exercise' workout.id %}",
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.name};
                        })
                    };
                }
            },
            minimumInputLength: 1
        });
    });
</script>
{% endblock %}