{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load extras %}
{% block content %}
<div class="p-3">
    <h1 class="display-4">Favorite workouts</h1>
    <div class="p-2">
        <a href="{% url 'home' %}">Back to your workouts</a>
    </div>  
    {% if workouts %}
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col" class="text-left">Training Type</th>
                  <th scope="col" class="text-left">Workout Title</th>
                  <th scope="col" class="text-left">Workout Day</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
            <tbody>
                {% for workout in workouts %}
                    <tr class="table-secondary">
                        <td class="align-middle text-left p-4">
                            {% get_type_icon workout.training_type %}
                        </td>
                        <td class="align-middle text-left pl-4"><a href="{{ workout.get_absolute_url }}">{{ workout.title }}</a></td>
                        <td class="align-middle text-left pl-4">{{ workout.workout_day|date:"F d, Y" }}
                            <small class="text-muted">{{ workout.workout_day|date:"D" }}</small>
                        </td>
                        <td class="align-middle text-left">
                            {% if user in workout.favorites.all %}
                                <a href="{% url 'fav_add' workout.id %}"><i class="lilpadding fas fa-heart"></i></a>
                            {% else %}
                                <a href="{% url 'fav_add' workout.id %}"><i class="lilpadding far fa-heart"></i></a>
                            {% endif %}
                            {% if workout.workout_plan %}
                                <a href="{% url 'workout-program-detail' workout.workout_plan.id %}" class="card-link"><i class="fas fa-clipboard-list lilpadding"></i>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <div class="dropdown">
                                <button class="dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                <div class="dropdown-content text-left">
                                    <a href="{{ workout.get_absolute_url }}"><i class="lilpadding far fa-eye"></i>Details</a>
                                {% if not workout.workout_plan %}
                                    <a href="{% url 'update' workout.id %}"><i class="lilpadding far fa-edit"></i>Edit</a>
                                    <a href="{% url 'delete' workout.id %}"><i class="lilpadding far fa-trash-alt"></i>Delete</a>
                                {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="p-5">
            <em><h5>No workouts found</h5></em>
        </div>
    {% endif %}
</div>
{% endblock content %}