{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="w-50 p-3 formcenter">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Workout</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}