{% extends "base/base.html" %}
{% block content %}
<div class="p-3">
    <h2 class="text-center">Your workout calendar</h2>
        <a href="{% url 'workout-calendar' current_year prev_month %}" class="btn btn-primary btn-sm"><i class="fas fa-chevron-left"></i></a>
        <a href="{% url 'workout-calendar' %}" class="btn btn-primary btn-sm">Current month</a>
        <a href="{% url 'workout-calendar' current_year next_month %}" class="btn btn-primary btn-sm"><i class="fas fa-chevron-right"></i></a>
        <a href="{% url 'add' %}" class="btn btn-primary btn-sm"><i class="lilpadding fas fa-plus-circle"></i>Add workout</a>

    <div class="d-flex justify-content-center text-left" id="workoutcalendar">
        {{ cal|safe }}
    </div>
</div>
{% endblock content %}